.heart {
    height: 20px;
    width: 20px;
    color: #bf9a2d;
}
.button{
    width: 210px;
    color: #bf9a2d;
    border: 1px solid #bf9a2d;
    border-radius: 28px;
    background-color: white;
}
.button:hover {
    background-color: #bf9a2d;
    color: white;
}
